page-confirmation {
    .button{
        height: 4.6rem !important;
        margin-top: 25px;
    }
    .container{
        margin: 150px 0;
    }
    .container h1{
        text-align: center;
    }
    .container h2{
        text-align: center;
    }
}
