<!--
  Generated template for the ShowAppsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="navbar">

  <ion-navbar color="navbar">
    <ion-toolbar>
      <ion-title>Sign In</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="done">
    <ion-searchbar animated="true" showCancelButton="true" placeholder="Search by First Name" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list *ngFor="let app of searchList">
      <ion-item>
        <ion-thumbnail item-start>
          <img *ngIf="app.current_img_src" [src]="app.current_img_src" >
        </ion-thumbnail>
        <h2>{{app.first_name}} {{app.last_name}}</h2>
        <p>{{app.school}} &bull;
          <!-- <span class="uppercase" [ngClass]="{'red': !app.uploaded,'green': app.uploaded}">{{app.uploaded}}</span> -->
        </p>
        <button ion-button clear item-end  (click)="signIn(app)">Sign In</button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<!-- -->
