page-home {
    .button{
        height: 4.6rem !important;
        margin-top: 25px;
    }
    .img-box{
        margin-bottom: 100px;
    }
    .img-box img{
        display: block;
        margin: auto;
    }
}
