page-picture-form {
    .button{
        height: 4.6rem !important;
        margin-top: 25px;
    }
    .container{
        margin: 100px 0;
        width: 100%;
    }
    .container img{
        display: block;
        width: 150px;
        height: auto;
        margin: auto;
    }
}
